<p style="color: green"><%= notice %></p>

<%= render @operation %>

<div style="margin-top: 10px;">
  <%= link_to "Edit this operation", edit_operation_path(@operation) %> |
  <%= link_to "Back to operations", operations_path %>

  <br><br>

  <%= button_to "Destroy this operation", @operation, method: :delete %>
</div>

<%= turbo_stream_from @operation %>